.xo-square {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.grid {
  /* 3 times width and margins of square */
  width: calc(3 * (100px + 10px));
  height: auto;
  padding: 5px;
  background-color: cadetblue;
  margin: 5rem auto;
}

h3, p{
  text-align: center;
}

.reset {
  display: block;
  color: black;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
}